@import "../../assets/styles/variables";

.App {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-header {
    display: flex;

    h1 {
      margin: 32px 0 0 0;
    }
  }

  &-logo {
    pointer-events: none;
    width: 160px;
  }

  @media (prefers-reduced-motion: no-preference) {

    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &-content {
    flex-grow: 1;
    justify-content: flex-start;
  }

  footer {
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

.grid {
  
  &-cols-responsive {
    background: url(../../assets/images/grid-placeholder-column-1.png) top left;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint_large_start;
    padding: 0 5px;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint_extrasmall_start) {

    &-cols-responsive {
      background: url(../../assets/images/grid-placeholder-column-2.png) top left;
      background-size: 100%;
    }
  }
  
  @media screen and (min-width: $breakpoint_small_start) {
  
    &-cols-responsive {
      background: url(../../assets/images/grid-placeholder-column-4.png) top left;
      background-size: 100%;
    }
  }
  
  @media screen and (min-width: $average_tablet) {
  
    &-cols-responsive {
      background: url(../../assets/images/grid-placeholder-column-6.png) top left;
      background-size: 100%;
    }
  }
  
  @media screen and (min-width: $breakpoint_medium_start) {
  
    &-cols-responsive {
      background: url(../../assets/images/grid-placeholder-column-8.png) top left;
      background-size: 100%;
    }
  }
  
  @media screen and (min-width: $breakpoint_large_start) {
  
    &-cols-responsive {
      background: url(../../assets/images/grid-placeholder-column-12.png) top left;
      background-size: 100%;
    }
  }

  &-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
