@import "../../assets/styles/variables";

.card {
  margin-bottom: 8px;
  margin-top: 8px;
  width: $columns-1;
  
  &-container {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    margin-left: 2%;
    padding: 3%;
    width: 90%;
  }

  &-header {
    font-size: 24px;
    font-weight: bold;
  }

  &-content {
    border: 1px dashed lightgrey;
    margin-top: 8px;
    padding: 0px;
  }
}

@media screen and (min-width: $breakpoint_extrasmall_start) {

  .card {
    width: $columns-1;
  }
}

@media screen and (min-width: $breakpoint_small_start) {

  .card {
    width: $columns-2;
  }
}

@media screen and (min-width: $average_tablet) {

  .card {
    width: $columns-3;
  }
}

@media screen and (min-width: $breakpoint_medium_start) {

  .card {
    width: $columns-4;
  }
}

@media screen and (min-width: $breakpoint_large_start) {

  .card {
    width: calc($columns-12 * 3);
  }
}

.contact {
  font-size: 14px;
}