.card {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(256,0,0,.5);
  color: black;
  margin: 16px;
  min-width: 300px;
  padding: 16px;
  text-align: left;
}

.email {
  font-size: 14px;
}