.card {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  margin: 16px;
  min-width: 300px;
  padding: 16px;

  &-header {
    font-size: 24px;
    font-weight: bold;
  }
}

.email {
  font-size: 14px;
}